* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
header {
    text-align: center;
    font-size: 5rem;
}
.input {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.usr_input {
    font-size: 2rem;
    padding: 3px;
    margin-right: 5px;
}
.enter {
    font-size: 2rem;
    padding: 3px;
}

.list_wrapper {
    display: flex;
    justify-content: center;
    height: 550px;
}
.item_list {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 40%;
    height: 100%;
    border: 5px solid black;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.item_list > li {
    font-size: 3rem;
    padding: 5px 0 5px 5px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px dashed black;
}
.done {
    text-decoration: line-through;
}
.delete {
    margin-left: 20px;
    padding: 5px 9px;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
}